:root {
  --header-font: "Handlee", cursive;
  --text-font: "Open Sans", sans-serif;
  --orange-color: hsl(22, 100%, 45%);
  --text-color: #faeed0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 200px;
  margin: auto;
  font-family: var(--header-font);
  font-size: 24px;
}

body {
  background-image: url("../img/7.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-align: center;
  align-items: center;
  align-self: center;
  padding: 9px 30px;
  outline: none;
  border-radius: 15px;
  background-color: var(--orange-color);
  text-decoration: none;
  color: white;
  font-family: var(--text-font);
  transition: 0.5s ease;
  cursor: pointer;
}

a:hover {
  color: var(--orange-color);
  background-color: white;
}
h1 {
  color: var(--orange-color);
}
